body{
    background-color: black;
}

.main {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    
    color: white;
}

.section-time{
    max-width: 500px;
    margin: auto;
    background-color: #262626;
    height: 500px;
}

.temporizado-itens{
    align-items: center;
}

.temporizador-tempos{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.time {
    border: 1px solid white;
    padding: 10px;
   margin-right: 10px;
}