html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Open Sans", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p, a , label , :placeholder-shown{
    color: #818181;
}

legend{
    font-size: 20px;
    margin-bottom: 2%;
}


.navigation{
    color: white;
    background-color: #f4511e;
    height: 4vh;
    box-sizing: border-box;
}

.list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

.list-item{
    margin-right: 2%;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 50vh;
    background-color: red;
    background-image: url(img/pexels-josh-hild-1270765-2801312.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% bottom;
}

.banner-title{
    font-size: 4em;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-transform: capitalize;
}

.page{
    max-width: 1000px;
    margin: auto;
}

.packages {
    text-align: center;
    max-width: 888px;
    margin: auto;
    margin-top: 3%;
}

.packages-title{
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    

}

.packages-subtitle{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #818181;
}

.figures {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    
}

.figure{
    
    transition: 0.3s,  0.3s;
}

.figure:hover{
    box-shadow: 1px 1px 10px 1px;
}

.tax-services{
    margin-top: 3%;
}
.tax-services-title{
    text-align: center;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

.tax-services-subtitle {
    text-align: center;
    font-size: 16px;
    color: #818181;
}
.tax-services-table-description{

}

.tax-services-table{
    margin-top: 2%;
    width: 100%;
    color: #818181;
}

.tax-services-table-head-item {
    background-color: #f4511e;
    color: white;
    padding: 10px;
}
.tax-services-table-body-row{
    text-align: center;
}

.tax-services-table-data-item{
    padding: 10px;
}
.tax-services-table-body-row:nth-child(even){
    background-color: #e9e9e9;
    color: #818181;
   
}

.tax-services-table-body-row:nth-child(odd){
    background-color: #bdbdbd;
    color: #818181;
}

.contact{
    margin-top: 3%;
}

.contact-title {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 10px;
    
}

.contact-label{
    margin-top: 10px;
}

.contact-input{
    padding: 10px;
}

 .dataIda{
    width: 20%;
}

.dataVolta {
    width: 20%;
}

.pessoas{
    width: 20%;
}

.form-service{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.form-pay{
    display: flex;
    flex-direction: column;
}

.textarea-comment{
    width: 30%;
    margin: 10px 0 10px 0;
}

.button-form{
    width: 20%;
    padding: 10px;
    background-color: #f4511e;
    border: 1px solid black;
    margin-bottom: 10px;
    color: white;
}

.footer {
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: #f4511e;
    text-align: center;
    padding: 10px;
}
