body, p , h1{
    margin: 0;
    top: 0;
    font-family: "Open Sans", sans-serif;;
}
.header {

}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/pexels-pixabay-416778\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.logo {
    width: 200px;
}
.efeito{
    position: absolute;
}
.formulario-aula{
    justify-content: flex-start;
}

.cadastro {
    position: absolute;
    left: 75%;
    top: 25%;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
}

.cadastro-frases {
    background-color: #262626;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    color: white;
}

.cadastro-titulo span {
    color: yellow;
}

.cadastro-subtitulo {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.camposDePreenchimento{
    border: none;
    padding: 10px;
}

.camposDePreenchimento-item {
    margin-bottom: 10px;
    padding: 5px;
}

.objetivos {
    border: none;
}

.button {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.button-aula {
    background-color: #262626;
    padding: 10px;
    border-radius: 10px;
}

.button-aula a {
    text-decoration: none;
    color: white;
   
}

.conteudo-title{
    margin: 5% 0% 0% 0%;
    padding: 0;
}

.conteudo-subtitle{
    margin-bottom: 5%;
    padding: 0;
}
.conteudo {
    font-size: 20px;
    max-width: 700px;
    margin-left: 10%;
}

.conteudo-p {
    margin-bottom: 5%;
}

.footer{
    align-items: center;
    text-align: center;
    color: white;
    background-color: #262626;
    height: 25vh;
    box-sizing: border-box;
}



.footer-endereço {
    margin-top: 5%;
    padding-top: 3%;
}

.footer-logo {
    width: 10%;
}